<form class="generic-form toppadded" (submit)="update();">
    <div class="gf-param margined align-center">        
        {{words['owner-password']['login'][currentLang.slug]}}: <strong>{{admin.email}}</strong>
    </div>
    <div class="gf-param margined">
        <div class="gf-inputwrap"><input type="password" name="password1" [(ngModel)]="password1" [placeholder]="words['owner-password']['password1'][currentLang.slug]" [class.error]="formErrorPassword1"></div>
    </div>
    <div class="gf-param margined">
        <div class="gf-inputwrap"><input type="password" name="password1" [(ngModel)]="password2" [placeholder]="words['owner-password']['password2'][currentLang.slug]" [class.error]="formErrorPassword2"></div>
    </div>
    <div class="gf-btnwrap">
        <button type="submit" class="fixedwidth" [disabled]="formLoading">{{words['common']['save'][currentLang.slug]}}</button>        
        <div class="gf-error" *ngIf="formErrorMismatch">{{words['owner-password']['error-mismatch'][currentLang.slug]}}</div>
    </div>
</form>