<!--
<form class="generic-form toppadded" (submit)="update();">
    <div class="gf-param margined">        
        <div class="gf-title">{{words['owner-password']['login'][currentLang.slug]}}</div>
        <div class="gf-inputwrap"><input type="email" name="email" [value]="admin.email" disabled></div>
    </div>
    <div class="gf-param margined">
        <div class="gf-title">{{words['owner-password']['password1'][currentLang.slug]}}</div>
        <div class="gf-inputwrap"><input type="password" name="password1" [(ngModel)]="password1" [class.error]="formErrorPassword1"></div>
    </div>
    <div class="gf-param margined">
        <div class="gf-title">{{words['owner-password']['password2'][currentLang.slug]}}</div>
        <div class="gf-inputwrap"><input type="password" name="password2" [(ngModel)]="password2" [class.error]="formErrorPassword2"></div>
    </div>
    <div class="gf-btnwrap">
        <button type="submit" class="fixedwidth" [disabled]="formLoading">{{words['common']['save'][currentLang.slug]}}</button>        
        <div class="gf-error" *ngIf="formErrorMismatch">{{words['owner-password']['error-mismatch'][currentLang.slug]}}</div>
    </div>
</form>
-->
<div class="dash">
    <div class="save-btn" (click)="update()">
        <div class="sb-btn"><span></span></div>
        <div class="sb-title">{{words['common']['save'][currentLang.slug]}}</div>
    </div>    
</div>
<div class="data">
    <div class="dataedit">        
        <form (submit)="update();">
            <div class="de-error" *ngIf="formErrorMismatch">{{words['owner-password']['error-mismatch'][currentLang.slug]}}</div>
            <div class="de-row">
                <div class="de-title">{{words['owner-password']['login'][currentLang.slug]}}:</div>
                <div class="de-value">
                    <div class="de-inputwrap"><input type="email" name="email" [value]="admin.email" disabled></div>
                </div>
            </div>
            <div class="de-row">
                <div class="de-title">{{words['owner-password']['password1'][currentLang.slug]}}:</div>
                <div class="de-value">
                    <div class="de-inputwrap"><input type="password" name="password1" [(ngModel)]="password1" [class.error]="formErrorPassword1"></div>
                </div>
            </div>
            <div class="de-row">
                <div class="de-title">{{words['owner-password']['password2'][currentLang.slug]}}:</div>
                <div class="de-value">
                    <div class="de-inputwrap"><input type="password" name="password2" [(ngModel)]="password2" [class.error]="formErrorPassword2"></div>
                </div>
            </div>
            <div class="de-row">
                <div class="de-title"></div>
                <div class="de-value">
                    <div class="de-btnwrap"><button type="submit">{{words['common']['save'][currentLang.slug]}}</button></div>
                </div>                
            </div>
        </form>        
    </div>
</div>

<the-alert [(active)]="alertActive" [msg]="words['owner-password']['saved'][currentLang.slug]"></the-alert>