<div class="dash">
    <a class="dash-btn create" routerLink="/orders/my/create"><span>{{words['common']['create'][currentLang.slug]}}</span></a>
</div>
<div class="orders">
    <ng-container *ngIf="olReady">        
        <ng-container *ngIf="ol.length">
            <div class="order" *ngFor="let o of ol">
                <div class="o-date">{{o.formattedCreatedAt}}</div>
                <div class="o-main">                                
                    <div class="o-content">
                        <div class="oc-table">
                            <div class="oct-title">{{o.table?.no}} {{words['restorator-orders']['table'][currentLang.slug]}}</div>
                            <div class="oct-btns">
                                <div class="oct-btn need-waiter" *ngIf="o.need_waiter" [title]="words['restorator-orders']['need-waiter'][currentLang.slug]" (click)="olOnUnneed(o, 'need_waiter')"><span></span></div>   
                                <div class="oct-btn need-products" *ngIf="o.need_products" [title]="words['restorator-orders']['need-products'][currentLang.slug]" (click)="olOnUnneed(o, 'need_products')"><span></span></div>
                                <div class="oct-btn need-invoice" *ngIf="o.need_invoice" [title]="words['restorator-orders']['need-invoice'][currentLang.slug]" (click)="olOnUnneed(o, 'need_invoice')"><span></span></div>                  
                            </div>                        
                        </div>
                        <div>{{words['restorator-orders']['seats'][currentLang.slug]}}: <strong>{{o.table?.seats}}</strong>, {{words['restorator-orders']['hall2'][currentLang.slug]}}: <strong>{{o.table?.hall?.name}}</strong></div>
                        <div>{{words['restorator-orders']['q'][currentLang.slug]}}: <strong><a routerLink="/orders/my/edit/{{o.id}}">{{o.q}}</a></strong></div>                    
                        <div *ngIf="o.employee_comment">{{words['restorator-orders']['employee-comment'][currentLang.slug]}}: <strong>{{o.employee_comment}}</strong></div>                    
                    </div>
                    <div class="o-dash">                    
                        <div class="od-title">{{words['common']['actions'][currentLang.slug]}}:</div>                    
                        <div class="od-btn complete" [title]="words['common']['complete'][currentLang.slug]" (click)="olOnComplete(o)"><span></span></div>
                        <div class="od-btn view" [title]="words['common']['edit'][currentLang.slug]" routerLink="/orders/my/edit/{{o.id}}"><span></span></div>
                        <div class="od-btn cancel" [title]="words['common']['cancel'][currentLang.slug]" (click)="olOnCancel(o)"><span></span></div>   
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!ol.length">{{words['common']['none'][currentLang.slug]}}</ng-container>
    </ng-container>
    <ng-container *ngIf="!olReady">{{words['common']['loading'][currentLang.slug]}}</ng-container>
</div>

<the-confirm [(active)]="olCancelConfirmActive" [msg]="words['restorator-orders']['confirm-cancel'][currentLang.slug]" (confirmed)="olCancel()"></the-confirm>
<the-confirm [(active)]="olUnneedConfirmActive" [msg]="olUnneedConfirmMsg" (confirmed)="olUnneed()"></the-confirm>
<the-confirm [(active)]="olCompleteConfirmActive" [msg]="words['restorator-orders']['confirm-complete'][currentLang.slug]" (confirmed)="olComplete()"></the-confirm>
