footer {
    display: flex; position: fixed; z-index: 10; width:100%; left: 0; bottom:0; height: 45px; justify-content: space-between; background-color: var(--color-bg); border-top-left-radius: 15px; border-top-right-radius: 15px; box-shadow: var(--block-shadow-invert); user-select: none;   
    .f-call {
        height: 100%; padding: 0 15px; cursor: pointer; display: flex; align-items: center;
        span::before {font-family: "fa-solid"; content: "\f0f3"; margin-right: 5px; font-size: 16px;}
    }
    .f-invoice {
        height: 100%; padding: 0 15px; cursor: pointer; display: flex; align-items: center;
        span::after {font-family: "fa-solid"; content: "\f543"; margin-left: 5px; font-size: 16px;}
        &.disabled {color: var(--color-grey); pointer-events: none;}
    }
}