@font-face {font-family: "awesome-solid"; src: url("/assets/fonts/awesome-solid.ttf");}

// text colors
$color-main: #fff;
$color-transparent: rgba(255,255,255,0.8);
$color-transparent-dark: rgba(255,255,255,0.6);
$color-transparent-dark2: rgba(255,255,255,0.4);
$color-transparent-disabled: rgba(255,255,255,0.2);
$color-grey: rgb(128,128,128);
$color-grey-light: #aaa;
// bg colors
$color-bg-light: rgba(255,255,255,0.1);
$color-bg-lighter: rgba(255,255,255,0.2);
$color-bg-dark: rgba(0,0,0,0.3);
$color-bg-dark2: rgba(0,0,0,0.125);
