<div class="popup" [class.active]="active">
    <div class="p-overlay" (click)="close()"></div>
    <div class="p-win">
        <ng-container *ngIf="table">
            <div class="pw-content">            
                <div class="pw-txt"># {{table.no}}</div>
                <div class="pw-qr">
                    <div class="pw-qr-content">
                        <img [src]="imgUrl">
                        <a class="print margined" [href]="imgLink" target="_blank"><span>{{words['restorator-tables']['print-version'][currentLang.slug]}}</span></a>
                        <a class="link" [href]="qrtext" target="_blank"><span>{{words['restorator-tables']['link'][currentLang.slug]}}</span></a>
                    </div>                    
                </div>
            </div>
        </ng-container>
        <div class="pw-close" (click)="close()"><span></span></div>
    </div>
</div>