@font-face {font-family: "mont"; src: url("/assets/fonts/Montserrat-Regular.woff"); font-weight: normal; font-style: normal; font-display: swap;}
@font-face {font-family: "mont"; src: url("/assets/fonts/Montserrat-Medium.woff"); font-weight: 500; font-style: normal; font-display: swap;}
@font-face {font-family: "mont"; src: url("/assets/fonts/Montserrat-SemiBold.woff"); font-weight: 600; font-style: normal; font-display: swap;}
@font-face {font-family: "mont"; src: url("/assets/fonts/Montserrat-Bold.woff"); font-weight: bold; font-style: normal; font-display: swap;}
@font-face {font-family: "fa-regular"; src: url("/assets/fonts/fa-regular.woff"); font-display: swap;}
@font-face {font-family: "fa-solid"; src: url("/assets/fonts/fa-solid.woff"); font-display: swap;}
@font-face {font-family: "fa-brands"; src: url("/assets/fonts/fa-brands.woff"); font-display: swap;}

html {
    --color-txt: #2b2b2b;
	--color-bg: #E8EFF4;
	--color-bg-light: #EFF3F5;
	--color-bg-highlight: #d3dbe1;
	--color-bg-highlight2: #c4cdd2;
	--color-bg-data: #fff;
	--color-red: #f15556;
	--color-green: #6dd57b;
    --color-grey: #aaa;
	--color-link: black;
	--color-disabled: #eee;
	--block-shadow: -17px -16px 28px #FFFFFFA8, 14px 12px 36px #00000029;
	--block-shadow-invert: -17px 16px 28px #FFFFFFA8, 14px -12px 36px #00000029;
	--block-shadow-inner: inset 0px 3px 38px #00000026, 14px 12px 36px #00000029;
	--activebtn-shadow: inset 0px 3px 38px #00000026, 14px 12px 36px #00000029;
}
