<div class="dtp-component" *ngIf="ready">
    <div class="dtp-date">{{formatedDate}}</div>
    <div class="dtp-btn active" (click)="activate();"><span></span></div>
    <div class="dtp-btn setnull" (click)="setNull();" *ngIf="value && canBeNull"><span></span></div>
    <div [class]="getPickerClass()">
        <div class="dtp-content">
            <div class="dtp-month">
                <div class="dtp-month-back" (click)="onMonthBack();"><span></span></div>
                <div class="dtp-month-current"><span>{{monthAndYear}}</span></div>
                <div class="dtp-month-forward" (click)="onMonthForward();"><span></span></div>
            </div>
            <div class="dtp-days">                
                <div class="dtp-days-content">
                    <div class="head">{{currentLang.phrases['mo']}}</div>
                    <div class="head">{{currentLang.phrases['tu']}}</div>
                    <div class="head">{{currentLang.phrases['we']}}</div>
                    <div class="head">{{currentLang.phrases['th']}}</div>
                    <div class="head">{{currentLang.phrases['fr']}}</div>
                    <div class="head">{{currentLang.phrases['sa']}}</div>
                    <div class="head">{{currentLang.phrases['su']}}</div>
                    <div *ngFor="let day of days" [class]="getDayClass(day)" (click)="setDate(day);">{{day.n}}</div>
                </div>
            </div>
            <div class="dtp-time" *ngIf="withTime">
                <div><input type="number" min="0" max="23" [(ngModel)]="currentHour" (keydown)="onKeyDown($event);"></div>
                <div>:</div>
                <div><input type="number" min="0" max="59" [ngModel]="currentMinute | number : '2.0-0'" (ngModelChange)="currentMinute = $event;" (keydown)="onKeyDown($event);"></div>
            </div>
            <div class="dtp-apply"><button type="button" (click)="apply();">{{currentLang.phrases['apply']}}</button></div>
        </div>        
    </div>
    <div [class]="active ? 'dtp-bgoverlay active' : 'dtp-bgoverlay'" (mousedown)="active = false;"></div>
</div>
