@import "../../common.styles/var";

.dtp-component {    
    display: flex; position: relative;
    .dtp-date {margin-right: 10px;}
    .dtp-btn {
        cursor: pointer; margin-right: 10px;
        span {font-family: "awesome-solid"; font-size: 16px;}
        &.active {span::before {content: "\f073";}}
        &.setnull {span::before {content: "\f05e";}}
    }
    .dtp-picker {
        position: absolute; top: calc(100% + 5px); left: -5px; width: 0; height: 0; z-index: 3; color: #333; overflow: hidden; box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3); transition: all 0.3s ease 0s; will-change: height, width; font-size: 14px;
        &.active {
            height: 320px; width: 250px;
            &.compact {height: 280px;}
        }
        .dtp-content {
            width: 100%; height: 100%; border:1px #666 solid; padding: 10px; background-color: #fff;
            .dtp-month {
                display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;
                .dtp-month-back, .dtp-month-forward {
                    cursor: pointer;
                    span {font-family: "awesome-solid"; font-size: 16px;}
                }
                .dtp-month-back {span::before {content: "\f048";}}
                .dtp-month-forward {span::before {content: "\f051";}}
            }
            .dtp-days {
                height: 180px;
                .dtp-days-content {
                    display: grid; grid-template-columns: repeat(7, 1fr); gap: 2px; font-size: 12px; 
                    div {
                        border:1px #eee solid; text-align: center; padding: 3px 0; 
                        &.head {background-color: #333; color: #fff; border:1px #333 solid; }
                        &.day {
                            cursor: pointer;
                            &:hover {background-color: #eee;}
                            &.hidden {opacity: 0; cursor: inherit; display: block;}
                            &.current {background-color: #333; color: #fff; border:1px #333 solid;}
                            &.holiday {color: #f00;}
                        }                    
                    }
                }                
            }
            .dtp-time {
                display: flex; justify-content: center; align-items: center; margin-bottom: 15px;
                div {
                    margin: 0 5px;
                    input {width: 50px; color: #333; border: 1px #eee solid;}
                }
            }
            .dtp-apply {
                display: flex; justify-content: center;
                button {background-color: #333; color: #fff; cursor: pointer; border: none;}
            }
        }
    }   
    .dtp-bgoverlay {
        position: fixed; left: 0; top: 0; width: 0; height: 0; z-index: 2;
        &.active {width:100%; height: 100%;}
    } 
}