<div class="data-form">    
        <div [class]="isRequired('slug') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-langs-slug']}}:</div>
        <div class="df-inputwrap"><input type="text" [(ngModel)]="x.slug"></div>    
    
        <div [class]="isRequired('title') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-langs-title']}}:</div>
        <div class="df-inputwrap"><input type="text" [(ngModel)]="x.title"></div>
    
        <div [class]="isRequired('shorttitle') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-langs-shorttitle']}}:</div>
        <div class="df-inputwrap"><input type="text" [(ngModel)]="x.shorttitle"></div>        
    
        <div [class]="isRequired('img') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-langs-img']}}:</div>
        <div class="df-inputwrap">
            <ng-container *ngIf="x.img">
                <div class="df-imgwrap">
                    <div class="df-imgwrap2"><img src="/images/{{imgFolder}}/{{x.img}}"></div>
                    <div class="df-imgbtns">
                        <div class="df-magnify" [title]="currentLang.phrases['workspace-viewimg']" (click)="imgViewerActive = true;"><span></span></div>
                        <div class="df-deletefile" [title]="currentLang.phrases['workspace-removeimg']" (click)="imgDelete();"><span></span></div>                                   
                    </div>                
                </div>                                
            </ng-container>
            <input #imginput type="file" (change)="imgUploadResize($event); imginput.value = null;">
            <progressbar [progress]="imgProgress" *ngIf="imgProgress"></progressbar>
        </div>
    
        <div [class]="isRequired('pos') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-langs-pos']}}:</div>
        <div class="df-inputwrap"><input class="small" type="number" [(ngModel)]="x.pos" [disabled]="x.defended"></div>
    
        <div [class]="isRequired('dir') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-langs-dir']}}:</div>
        <div class="df-inputwrap">
            <select [(ngModel)]="x.dir"><option value="ltr">LTR</option><option value="rtl">RTL</option></select>
        </div>
    
        <div [class]="isRequired('slugable') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-langs-slugable']}}:</div>
        <div class="df-inputwrap"><checkbox-slider [(value)]="x.slugable"></checkbox-slider></div>

        <div [class]="isRequired('active') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-langs-active']}}:</div>
        <div class="df-inputwrap"><checkbox-slider [(value)]="x.active" [disabled]="x.defended"></checkbox-slider></div>    

        <div class="df-title"></div>
        <div class="df-inputwrap"><button type="submit">{{currentLang.phrases['workspace-save']}}</button></div>                    
</div>
<image-viewer [img]="x.img" [imgFolder]="imgFolder" [(active)]="imgViewerActive"></image-viewer>
