<header id="h-normal" [class]="opaque ? 'opaque' : ''">
	<div id="hn-logo">VNE 5.0 panel</div>
	<div id="hn-top">
		<div id="hn-top-left">
			<div id="hn-monitor-wrap">
				<div id="hn-monitor" [innerHTML]="monitorContent" #monitor></div>
			</div>
		</div>
		<div id="hn-top-right">			
			<div id="hn-btns" *ngIf="authenticated">
				<div class="hn-btn" [title]="currentLang.phrases['header-options']" routerLink="/options"><span id="options"></span></div>								
				<div class="hn-btn" [title]="currentLang.phrases['header-logout']" routerLink="/auth/logout"><span id="logout"></span></div>								
			</div>
			<div id="hn-time">{{time}}</div>
		</div>
	</div>
</header>
<header id="h-mobile" [class]="opaque ? 'opaque' : ''">
	<div id="hm-left">
		<div class="hm-btns">
			<div class="hm-btn" title="Menu" (click)="activateMobMenu();"><span id="menu"></span></div>		
		</div>
	</div>
	<div id="hm-right">
		<div class="hm-btns" *ngIf="authenticated">
			<div class="hm-btn" [title]="currentLang.phrases['header-options']" routerLink="/options"><span id="options"></span></div>		
			<div class="hm-btn" [title]="currentLang.phrases['header-logout']" routerLink="/auth/logout"><span id="logout"></span></div>		
		</div>
	</div>
</header>
