<div class="dash">
    <a class="dash-btn create" routerLink="/orders/all/create"><span>{{words['common']['create'][currentLang.slug]}}</span></a>
</div>
<div class="data">
    <!-- desktop -->    
    <div class="datalist-desktop">
        <div class="datalist-overlay" [class.active]="olLoading"></div>
        <table>            
            <tr>
                <td colspan="6" class="borderedbottom">                    
                    <div>{{words['restorator-orders']['orders-q'][currentLang.slug]}}: <strong>{{olAllLength}}</strong></div>
                    <div>{{words['restorator-orders']['sum'][currentLang.slug]}}: <strong>{{olSum | number:'1.2-2'}}</strong></div>
                </td>
            </tr> 
            <tr>                
                <th class="align-left"><label class="sortable" [class.sorted-forward]="olSortBy === 'created_at' && olSortDir === 1" [class.sorted-backward]="olSortBy === 'created_at' && olSortDir === -1" (click)="changeSorting('created_at')">{{words['restorator-orders']['created-at'][currentLang.slug]}}</label></th>                
                <th class="align-center"><label>{{words['restorator-orders']['no'][currentLang.slug]}}</label></th>                
                <th class="align-center"><label>{{words['restorator-orders']['table2'][currentLang.slug]}}</label></th>                
                <th class="align-center"><label>{{words['restorator-orders']['employee'][currentLang.slug]}}</label></th>                
                <th class="align-center"><label class="sortable" [class.sorted-forward]="olSortBy === 'sum' && olSortDir === 1" [class.sorted-backward]="olSortBy === 'sum' && olSortDir === -1" (click)="changeSorting('sum')">{{words['restorator-orders']['sum'][currentLang.slug]}}</label></th>                
                <th class="align-center"><label>{{words['common']['actions'][currentLang.slug]}}</label></th>
            </tr>
            <ng-container *ngIf="ol.length">
                <tr *ngFor="let o of ol">                    
                    <td>{{o.formattedCreatedAt}}</td>                    
                    <td class="align-center">{{o.id}}</td>                    
                    <td class="align-center">{{o.table?.no}}</td>                    
                    <td class="align-center">{{o.employee?.name}}</td>         
                    <td class="align-center">{{o.sum | number:'1.2-2'}}</td>           
                    <td class="align-center nowrap">
                        <a class="datalist-btn edit" [routerLink]="'/orders/all/edit/'+o.id" [title]="words['common']['edit'][currentLang.slug]"><span></span></a>
                        <a class="datalist-btn delete" (click)="onDelete(o)" [title]="words['common']['delete'][currentLang.slug]"><span></span></a>
                    </td>
                </tr>                  
            </ng-container>            
            <ng-container *ngIf="!ol.length">
                <tr><td>{{words['common']['none'][currentLang.slug]}}</td></tr>
            </ng-container>     
        </table>
    </div>    
    <!-- mobile -->
    <!--
    <div class="datalist-mobile">
        <div class="datalist-overlay" [class.active]="olLoading"></div>
        <div class="dlm-dash">   
            <div class="dlmd-head">{{words['common']['sorting'][currentLang.slug]}}</div>
            <div class="dlmd-param">
                <div class="dlmd-selectwrap">
                    <select #mobsorting (change)="setSorting(mobsorting.value)">
                        <option [selected]="olSortBy === 'name' && olSortDir === 1" [value]="0">{{words['restorator-orders']['name'][currentLang.slug]}} &#9660;</option>
                        <option [selected]="olSortBy === 'name' && olSortDir === -1" [value]="1">{{words['restorator-orders']['name'][currentLang.slug]}} &#9650;</option>
                        <option [selected]="olSortBy === 'pos' && olSortDir === 1" [value]="2">{{words['restorator-orders']['pos'][currentLang.slug]}} &#9660;</option>
                        <option [selected]="olSortBy === 'pos' && olSortDir === -1" [value]="3">{{words['restorator-orders']['pos'][currentLang.slug]}} &#9650;</option>                        
                    </select>
                </div>
            </div>
        </div>
        <ng-container *ngIf="ol.length">
            <div class="dlm-item" *ngFor="let o of ol">     
                <div class="dlmi-param">
                    <div class="dlmi-title">{{words['restorator-orders']['name'][currentLang.slug]}}:</div>
                    <div class="dlmi-value" [innerHTML]="o.name"></div>
                </div>
                <div class="dlmi-param">
                    <div class="dlmi-title">{{words['restorator-orders']['places'][currentLang.slug]}}:</div>
                    <div class="dlmi-value">{{o.nx}}x{{o.ny}}</div>
                </div>
                <div class="dlmi-param">
                    <div class="dlmi-title">{{words['restorator-orders']['pos'][currentLang.slug]}}:</div>
                    <div class="dlmi-value">{{o.pos}}</div>
                </div>
                <div class="dlmi-actions">
                    <a class="datalist-btn edit" [routerLink]="'/orders-tables/orders/edit/'+o.id" [title]="words['common']['edit'][currentLang.slug]"><span></span></a>                    
                    <a class="datalist-btn delete" (click)="onDelete(o)" [title]="words['common']['delete'][currentLang.slug]"><span></span></a>
                </div>   
            </div>
        </ng-container>
        <ng-container *ngIf="!ol.length">
            <div class="dlm-item">{{words['common']['none'][currentLang.slug]}}</div>
        </ng-container> 
    </div>
    -->
    <!-- paging -->
    <pagination [allLength]="olAllLength" [length]="olLength" [current]="olCurrentPart" (currentChanged)="olCurrentPart = $event; initOrders();"></pagination>
</div>

<!--
<the-confirm [(active)]="deleteConfirmActive" [msg]="deleteConfirmMsg" (confirmed)="delete()"></the-confirm>
-->