<div class="dash-placeholder"></div>
<div class="orders">
    <ng-container *ngIf="olReady">        
        <div class="order" [class.no-employee]="!o.employee" *ngFor="let o of ol">
            <div class="o-date">{{o.formattedCreatedAt}}</div>
            <div class="o-main">                                
                <div class="o-content">
                    <div class="oc-table">
                        <div class="oct-title">{{o.table?.no}} {{words['restorator-orders']['table'][currentLang.slug]}}</div>
                        <div class="oct-btn need-waiter" *ngIf="o.need_waiter" [title]="words['restorator-orders']['need-waiter'][currentLang.slug]"><span></span></div>   
                        <div class="oct-btn need-products" *ngIf="o.need_products" [title]="words['restorator-orders']['need-products'][currentLang.slug]"><span></span></div>
                        <div class="oct-btn need-invoice" *ngIf="o.need_invoice" [title]="words['restorator-orders']['need-invoice'][currentLang.slug]"><span></span></div>                  
                    </div>
                    <div>{{words['restorator-orders']['seats'][currentLang.slug]}}: <strong>{{o.table?.seats}}</strong></div>
                    <div>{{words['restorator-orders']['q'][currentLang.slug]}}: <strong>{{o.q}}</strong></div>
                    <div>{{words['restorator-orders']['employee'][currentLang.slug]}}: <strong><span [innerHTML]="o.employee ? o.employee.name : words['common']['empty'][currentLang.slug]"></span></strong></div>                    
                </div>
                <div class="o-dash">                    
                    <div class="od-title">{{words['common']['actions'][currentLang.slug]}}:</div>
                    <div class="od-btn take" *ngIf="!o.employee" [title]="words['common']['take'][currentLang.slug]"><span></span></div>                    
                    <div class="od-btn view" [title]="words['common']['view'][currentLang.slug]"><span></span></div>
                    <div class="od-btn cancel" [title]="words['common']['cancel'][currentLang.slug]"><span></span></div>   
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!olReady">{{words['common']['loading'][currentLang.slug]}}</ng-container>
</div>
