.big-btn {height: 60px; line-height: 60px; border-radius: 30px; padding: 0 45px; background-color: var(--color-bg); box-shadow: var(--block-shadow); text-decoration: none; display: inline-block; font-weight: bold; white-space: nowrap; cursor: pointer;}
.small-btn {
	height: 40px; line-height: 40px; border-radius: 20px; padding: 0 30px; background-color: var(--color-bg); box-shadow: var(--block-shadow); text-decoration: none; display: inline-block; font-weight: bold; white-space: nowrap; cursor: pointer; color: var(--color-txt);
	&.rightmargined {margin-right: 30px;}
    &.inline-flex {display: inline-flex;}
}	
.action-btn {
	height: 40px; width: 40px; line-height: 40px; text-align: center; border-radius: 20px; background: var(--color-bg); box-shadow: var(--block-shadow); cursor: pointer; display: inline-block; margin: 0 5px;
	span::before {font-size: 20px;}
	&.delete {font-family: "fa-solid"; span::before {content: "\f00d"; color: var(--color-red);}}
	&.edit {font-family: "fa-solid"; span::before {content: "\f06e";}}
	&.prolong {font-family: "fa-regular"; span::before {content: "\f873";}}
	&.history {font-family: "fa-solid"; span::before {content: "\f1da";}}
}
