.big-btn {height: 60px; line-height: 60px; border-radius: 30px; padding: 0 45px; background-color: var(--color-bg); box-shadow: var(--block-shadow); text-decoration: none; display: inline-block; font-weight: bold; white-space: nowrap; cursor: pointer;}
.small-btn {
	height: 40px; line-height: 40px; border-radius: 20px; padding: 0 30px; background-color: var(--color-bg); box-shadow: var(--block-shadow); text-decoration: none; display: inline-block; font-weight: bold; white-space: nowrap; cursor: pointer; color: var(--color-txt);
	&.rightmargined {margin-right: 30px;}
    &.inline-flex {display: inline-flex;}
}	
.action-btn {
	height: 40px; width: 40px; line-height: 40px; text-align: center; border-radius: 20px; background: var(--color-bg); box-shadow: var(--block-shadow); cursor: pointer; display: inline-block; margin: 0 5px;
	span::before {font-size: 20px;}
	&.delete {font-family: "fa-solid"; span::before {content: "\f00d"; color: var(--color-red);}}
	&.edit {font-family: "fa-solid"; span::before {content: "\f06e";}}
	&.prolong {font-family: "fa-regular"; span::before {content: "\f873";}}
	&.history {font-family: "fa-solid"; span::before {content: "\f1da";}}
}
.create-btn {
	display: flex; align-items: center;
	.cb-btn {
		@media (min-width: 0) {width:40px; height: 40px;}
		@media (min-width: 1000px) {width: 60px; height: 60px;}
		display: block; border-radius: 30px; background-color: var(--color-bg); box-shadow: var(--block-shadow); cursor: pointer; position: relative;
		&::after {display: block; content:""; position: absolute; left: 50%; top:50%; transform: translate(-50%, -50%); width:2px; height: 50%; background-color: var(--color-txt); border-radius: 1px;}
		&::before {display: block; content:""; position: absolute; left: 50%; top:50%; transform: translate(-50%, -50%); width:50%; height: 2px; background-color: var(--color-txt); border-radius: 1px;}
	}
	.cb-title {
		@media (min-width: 0) {display: none;}
		@media (min-width: 1000px) {display: block;}
		white-space: nowrap; font-weight: bold; margin-left: 10px;
	}
}
