<div class="dash">
    <a class="dash-btn save" [class.disabled]="formLoading" (click)="update()"><span>{{words['common']['save'][currentLang.slug]}}</span></a>    
    <a class="dash-btn back" routerLink="/halls-tables/halls"><span>{{words['common']['back'][currentLang.slug]}}</span></a>    
</div>
<div class="data">
    <div class="dataedit"> 
        <the-hall
            *ngIf="hall"
            [x]="hall"
            [loading]="formLoading"
            [errorName]="formErrorName"                        
            (save)="update();"
        ></the-hall>
    </div>
</div>
