<div class="wrap" *ngIf="ready">    
    <msg-desktop></msg-desktop>
    <div class="win">        
        <div class="content">
            <aside *ngIf="showSidebar">
                <the-menu></the-menu>     
            </aside>
            <main [class.compact]="showSidebar">        
                <head-desktop></head-desktop>
                <head-mobile></head-mobile>
                <router-outlet></router-outlet>
            </main>
        </div>
    </div> 
    <error-notification></error-notification>   
</div>
