<div class="content">
    <aside>
        <the-menu></the-menu>           
    </aside>
    <main class="compact">
        <dash-desktop></dash-desktop>
        <div class="data">
            <div class="datalist-desktop">
                <table>
                    <tr>
                        <th class="align-left">{{words['owner-restaurants']['created-at'][currentLang.slug]}}</th>
                        <th class="align-left">{{words['owner-restaurants']['name'][currentLang.slug]}}</th>
                        <th class="align-left">{{words['owner-restaurants']['subscription'][currentLang.slug]}}</th>                        
                        <th class="align-center">{{words['owner-restaurants']['actions'][currentLang.slug]}}</th>
                    </tr>                                    
                    <tr>
                        <td><span class="nowrap">27.08.2022 07:30</span></td>
                        <td>Длинное название ресторана</td>
                        <td>
                            <div><strong class="nowrap">15.09.2023 07:30</strong></div>
                            <div>27 {{words['owner-restaurants']['days-left'][currentLang.slug]}}</div>
                        </td>
                        <td class="dl-actions">
                            <a class="dl-action prolong" [title]="words['owner-restaurants']['prolong'][currentLang.slug]"><span></span></a>
                            <a class="dl-action history" [title]="words['owner-restaurants']['history'][currentLang.slug]"><span></span></a>
                            <a class="dl-action edit" [title]="words['owner-restaurants']['edit'][currentLang.slug]"><span></span></a>
                            <a class="dl-action delete" [title]="words['owner-restaurants']['delete'][currentLang.slug]"><span></span></a>
                        </td>
                    </tr>                                                                                                                                                                                                                                                                                                                                  
                </table>
            </div>
            <the-pagination [allLength]="90000" [length]="10" [current]="2"></the-pagination>        
        </div>        
    </main>
</div>
