<div class="popup" [class.active]="active">
    <div class="p-overlay" (click)="close()"></div>
    <div class="p-win">
        <div class="pw-content">
            <div class="pw-txt">
                <span>{{msg}}</span>
            </div>            
        </div>
        <div class="pw-buttons">
            <button type="button" (click)="confirm()">{{words['common']['yes'][currentLang.slug]}}</button>
            <button type="button" (click)="close()">{{words['common']['no'][currentLang.slug]}}</button>
        </div>
        <div class="pw-close" (click)="close()"><span></span></div>
    </div>
</div>