header {
    display: flex; position: fixed; z-index: 10; width:100%; left: 0; top:0; height: 60px; justify-content: center; align-items: center; background-color: var(--color-bg); border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; box-shadow: var(--block-shadow);
    .h-title {width: calc(100% - 120px); text-align: center; font-size: 14px; font-weight: bold;}
    .h-back {
        position: absolute; left: 0; top:0; height: 100%; padding: 0 15px; display: flex; align-items: center; cursor: pointer;
        span::before {font-family: "fa-solid"; content: "\f053"; font-size: 16px;}
    }    
}