<div class="dash">
    <a class="dash-btn save" (click)="create()"><span>{{words['common']['save'][currentLang.slug]}}</span></a>    
    <a class="dash-btn back" routerLink="/kitchen/products"><span>{{words['common']['back'][currentLang.slug]}}</span></a>    
</div>
<div class="data">
    <div class="dataedit">         
        <the-product
            *ngIf="product"
            [x]="product"            
            [loading]="formLoading"
            [errorName]="formErrorName"                        
            (save)="create();"
        ></the-product>        
    </div>
</div>
