<form (submit)="orderOnSave();">            
    <div class="de-row" *ngIf="x.id">
        <div class="de-title">{{words['restorator-orders']['no'][currentLang.slug]}}:</div>
        <div class="de-value">{{x.id}}</div>
    </div>
    <div class="de-row" *ngIf="x.id">
        <div class="de-title">{{words['restorator-orders']['created-at'][currentLang.slug]}}:</div>
        <div class="de-value">{{x.formattedCreatedAt}}</div>
    </div>
    <div class="de-row" *ngIf="x.id && adminMode">
        <div class="de-title">{{words['restorator-orders']['accepted-at'][currentLang.slug]}}:</div>
        <div class="de-value">{{x.formattedAcceptedAt}}</div>
    </div>
    <div class="de-row" *ngIf="x.id && adminMode">
        <div class="de-title">{{words['restorator-orders']['completed-at'][currentLang.slug]}}:</div>
        <div class="de-value">{{x.formattedCompletedAt}}</div>
    </div>
    <div class="de-row">
        <div class="de-title">{{words['restorator-orders']['hall'][currentLang.slug]}}: <span class="red">*</span></div>
        <div class="de-value">
            <div class="de-selectwrap" [class.error]="orderErrorHall">
                <select name="hall_id" [(ngModel)]="x.hall_id" (change)="x.table_id = null">
                    <option [ngValue]="null">{{words['common']['not-set'][currentLang.slug]}}</option>
                    <option *ngFor="let h of hl" [ngValue]="h.id" [innerHTML]="h.name"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="de-row">
        <div class="de-title">{{words['restorator-orders']['table2'][currentLang.slug]}}: <span class="red">*</span></div>
        <div class="de-value">
            <div class="de-selectwrap" [class.error]="orderErrorTable">
                <select name="table_id" [(ngModel)]="x.table_id">
                    <option [ngValue]="null">{{words['common']['not-set'][currentLang.slug]}}</option>
                    <option *ngFor="let t of tl" [ngValue]="t.id"># {{t.no}} ({{t.seats}} {{words['restorator-orders']['seats2'][currentLang.slug]}})</option>
                </select>
            </div>
        </div>
    </div>
    <div class="de-row" *ngIf="adminMode">
        <div class="de-title">{{words['restorator-orders']['employee'][currentLang.slug]}}:</div>
        <div class="de-value">
            <div class="de-selectwrap">
                <select name="employee_id" [(ngModel)]="x.employee_id">
                    <option [ngValue]="null">{{words['common']['not-set'][currentLang.slug]}}</option>
                    <option *ngFor="let e of el" [ngValue]="e.id">{{e.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="de-row" *ngIf="x.id && !adminMode">
        <div class="de-title">{{words['restorator-orders']['statuses'][currentLang.slug]}}:</div>
        <div class="de-value">
            <div class="de-statuses" *ngIf="x.need_waiter || x.need_products || x.need_invoice">
                <div class="de-status need-waiter" *ngIf="x.need_waiter" [title]="words['restorator-orders']['need-waiter'][currentLang.slug]" (click)="x.need_waiter = false"><span></span></div>   
                <div class="de-status need-products" *ngIf="x.need_products" [title]="words['restorator-orders']['need-products'][currentLang.slug]" (click)="x.need_products = false"><span></span></div>
                <div class="de-status need-invoice" *ngIf="x.need_invoice" [title]="words['restorator-orders']['need-invoice'][currentLang.slug]" (click)="x.need_invoice = false"><span></span></div>                  
            </div>
            <span *ngIf="!(x.need_waiter || x.need_products || x.need_invoice)">{{words['common']['empty'][currentLang.slug]}}</span>
        </div>
    </div>  
    <div class="de-row" *ngIf="adminMode">
        <div class="de-title">{{words['restorator-orders']['need-waiter'][currentLang.slug]}}:</div>
        <div class="de-value"><checkbox-slider [(value)]="x.need_waiter"></checkbox-slider></div>
    </div>
    <div class="de-row" *ngIf="adminMode">
        <div class="de-title">{{words['restorator-orders']['need-products'][currentLang.slug]}}:</div>
        <div class="de-value"><checkbox-slider [(value)]="x.need_products"></checkbox-slider></div>
    </div>
    <div class="de-row" *ngIf="adminMode">
        <div class="de-title">{{words['restorator-orders']['need-invoice'][currentLang.slug]}}:</div>
        <div class="de-value"><checkbox-slider [(value)]="x.need_invoice"></checkbox-slider></div>
    </div>
    <div class="de-row" *ngIf="x.id">
        <div class="de-title">{{words['restorator-orders']['customer-comment'][currentLang.slug]}}:</div>
        <div class="de-value">
            <div [innerHTML]="x.customer_comment || words['common']['empty'][currentLang.slug]"></div>
        </div>
    </div>
    <div class="de-row">
        <div class="de-title">{{words['restorator-orders']['employee-comment'][currentLang.slug]}}:</div>
        <div class="de-value">
            <div class="de-inputwrap"><input type="text" name="employee_comment" [(ngModel)]="x.employee_comment"></div>                        
        </div>
    </div>
    <!-- products -->
    <div class="de-space"></div>
    <div class="de-head margined">{{words['restorator-orders']['content'][currentLang.slug]}}</div>
    <div class="de-products">
        <order-product-editable *ngFor="let p of x.products" [product]="p" [sl]="sl" (delete)="productOnDelete(p)"></order-product-editable>
        <div class="dep-add" (click)="productFinderActive = true"><span></span></div>
    </div> 
    <!-- payment -->
    <div class="de-space"></div>
    <div class="de-head margined">{{words['restorator-orders']['payment'][currentLang.slug]}}</div>
    <div class="de-row">
        <div class="de-title">{{words['restorator-orders']['paymethod'][currentLang.slug]}}:</div>
        <div class="de-value">
            <div class="de-radios">
                <div class="de-radio" (click)="x.paymethod = payCash"><radio-simple [checked]="x.paymethod === payCash" [title]="words['restorator-orders']['paymethod-cash'][currentLang.slug]"></radio-simple></div>
                <div class="de-radio" (click)="x.paymethod = payCard"><radio-simple [checked]="x.paymethod === payCard" [title]="words['restorator-orders']['paymethod-card'][currentLang.slug]"></radio-simple></div>
            </div>            
        </div>
    </div>
    <div class="de-row">
        <div class="de-title">{{words['restorator-orders']['subtotal'][currentLang.slug]}}:</div>
        <div class="de-value">{{x.subtotal | number:'1.2-2'}} {{currency_symbol}}</div>
    </div>
    <div class="de-row">
        <div class="de-title">{{words['restorator-orders']['discount'][currentLang.slug]}}:</div>
        <div class="de-value"><input-number [(value)]="x.discount_percent" [min]="0" [max]="100" [step]="5"></input-number></div>
    </div>   
    <div class="de-row">
        <div class="de-title">{{words['restorator-orders']['total'][currentLang.slug]}}:</div>
        <div class="de-value">{{x.total | number:'1.2-2'}} {{currency_symbol}}</div>
    </div>    
    <!-- btn -->
    <div class="de-space"></div>        
    <div class="de-2btnswrap">
        <div><button type="submit" [disabled]="loading" class="save"><span>{{words['common']['save'][currentLang.slug]}}</span></button></div>
        <div *ngIf="x.id && x.status === statusActive"><button type="button" [disabled]="loading" class="complete" (click)="orderOnComplete()"><span>{{words['common']['complete'][currentLang.slug]}}</span></button></div>
    </div>
</form> 

<the-confirm [(active)]="productDeleteConfirmActive" [msg]="productDeleteConfirmMsg" (confirmed)="productDelete()"></the-confirm>
<the-confirm [(active)]="orderCompleteConfirmActive" [msg]="words['restorator-orders']['confirm-complete'][currentLang.slug]" (confirmed)="orderComplete()"></the-confirm>
<the-confirm [(active)]="orderSaveConfirmActive" [msg]="words['restorator-orders']['confirm-save'][currentLang.slug]" (confirmed)="orderSave()"></the-confirm>
<product-finder [(active)]="productFinderActive" [order]="x"></product-finder>
