<div class="dash">
    <a class="dash-btn save" (click)="update()"><span>{{words['common']['save'][currentLang.slug]}}</span></a>      
    <a class="dash-btn back" [routerLink]="'/restaurants/'+type"><span>{{words['common']['back'][currentLang.slug]}}</span></a>    
</div>
<div class="data">
    <div class="dataedit">
        <the-restaurant
            *ngIf="restaurant"
            [x]="restaurant"
            [cl]="cl"
            [ll]="ll"
            [loading]="formLoading"
            [errorName]="formErrorName"
            [errorOwnerName]="formErrorOwnerName"
            [errorPhone]="formErrorPhone"
            [errorAddress]="formErrorAddress"
            [errorInn]="formErrorInn"
            [errorOgrn]="formErrorOgrn" 
            mode="edit"
            (save)="update();"
        ></the-restaurant>
    </div>
</div>