@import "../../common.styles/var";

.image-viewer {
    position: fixed; z-index: 20; left: -100%; top: 0; width:100%; height: 100%; background: rgba(255,255,255,0.9); padding: 15px; opacity: 0; transition: left 0.3s ease 0s, opacity 0.6s ease 0s; will-change: left, opacity; overflow: hidden;
    &.active {left: 0; opacity: 1;}
    .iv-head {
        display: flex; justify-content: flex-end; margin-bottom: 30px;
        .iv-close {            
            cursor: pointer; color: #666; font-size: 30px;
            &:hover {span {transform: rotate(90deg);}}
            span {
                display: inline-block; transition: transform 0.3s ease 0s; will-change: transform;
                &::before {font-family: "awesome-solid"; content: "\f00d";}
            }            
        }
    }
    .iv-content {
        text-align: center;
        img {max-width: 100%; max-height: 100%;}
    }
}