<div class="cart-panel" [class.active]="active">
    <div class="cp-left" (click)="active = false"></div>
    <div class="cp-right">
        <div class="cp-head">
            <span>{{words['customer-cart']['cart']}}</span>
            <div class="cp-close" (click)="active = false"><span></span></div>
        </div>
        <div class="cp-content">
            <ng-container *ngIf="cart.records.length">
                <div class="cp-records">
                    <div class="cp-record" *ngFor="let r of cart.records">
                        <div class="cpr-left">
                            <div class="cpr-img" [style.background-image]="r.product.images.length ? 'url(/images/products/'+r.product.images[0].img+')' : 'url(/images/no-image.jpg)'"></div>
                        </div>
                        <div class="cpr-right">
                            <div class="cpr-name" [innerHTML]="r.product.name"></div>
                            <div class="cpr-calc">
                                <input-number [min]="0" [(value)]="r.q" (valueChange)="onQuantityChanged(r)"></input-number>
                                <span>&nbsp;x&nbsp;{{r.product.price | number:'1.2-2'}}&nbsp;{{table.currency_symbol}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cp-sum">
                    <div>{{words['customer-cart']['sum']}}:</div>
                    <div>{{s | number:'1.2-2'}}&nbsp;{{table.currency_symbol}}</div>
                </div>
                <div class="cp-serving">
                    <div class="cps-title">{{words['customer-cart']['serving']}}:</div>
                    <div class="cps-items">
                        <div class="cps-item" *ngFor="let s of sl"><radio-simple [checked]="cart.serving_id === s.id" [title]="s.name" (click)="cart.serving_id = s.id"></radio-simple></div>
                    </div>
                </div>
                <div class="cp-comment">
                    <div class="cpc-title">{{words['customer-cart']['comment']}}:</div>
                    <div class="cpc-tawrap"><textarea [(ngModel)]="cart.comment"></textarea></div>
                </div>
            </ng-container>            
        </div>
        <div class="cp-foot" *ngIf="cart.records.length">
            <a>{{words['customer-cart']['order']}}</a>
        </div>
    </div>
</div>