
<div class="data-langs padded">
    <div class="data-langs-title">{{currentLang.phrases['workspace-lang']}}:</div>
    <div class="data-langs-btns">
        <label *ngFor="let l of ll" (click)="selectedLang = l;"><input type="radio" [checked]="selectedLang.id === l.id">{{l.slug}}</label>
    </div>                    
</div>
<div class="data-form">
    <div class="df-title" [class.required]="isRequired('name')">{{currentLang.phrases['workspace-employee-statuses-name']}}:</div>
    <div class="df-inputwrap">
        <ng-container *ngFor="let l of ll">
            <input *ngIf="l.id === selectedLang.id" type="text" [(ngModel)]="x.translationByLang(l.id).name">
        </ng-container>            
    </div>   

    <div class="df-title" [class.required]="isRequired('color')">{{currentLang.phrases['workspace-employee-statuses-color']}}:</div>
    <div class="df-inputwrap"><color-input [(color)]="x.color"></color-input></div>
    
    <div class="df-title" [class.required]="isRequired('pos')">{{currentLang.phrases['workspace-employee-statuses-pos']}}:</div>
    <div class="df-inputwrap"><input class="small" type="number" [(ngModel)]="x.pos"></div>  
                
    <div class="df-title"></div>
    <div class="df-inputwrap"><button type="submit">{{currentLang.phrases['workspace-save']}}</button></div>                    
</div>
