.prolong {    
    .prolong-values {
        display: flex; justify-content: center; margin-bottom: 15px;
        .prolong-grid {display: grid; grid-template-columns: 1fr 1fr; gap:15px; line-height: 25px;}
    }
    .prolong-period {
        text-align: center; font-weight: bold; margin-bottom: 30px;
        span {white-space: nowrap;}
    }
}