<div class="popup" [class.active]="active" *ngIf="restaurant">
    <div class="p-overlay" (click)="close()"></div>
    <div class="p-win">
        <div class="pw-content">
            <div class="prolong">
                <div class="prolong-values">
                    <div class="prolong-grid">
                        <div>{{words['common']['day'][currentLang.slug]}}</div>
                        <div><number-input [(value)]="days"></number-input></div>
                        <div>{{words['common']['month'][currentLang.slug]}}</div>
                        <div><number-input [(value)]="months"></number-input></div>
                        <div>{{words['common']['year'][currentLang.slug]}}</div>
                        <div><number-input [(value)]="years"></number-input></div>
                    </div>                    
                </div>
                <div class="prolong-period">
                    <span>{{formattedFrom}}</span> - <span>{{formattedTo}}</span>
                </div>
            </div>
        </div>
        <div class="pw-buttons">
            <button type="button" (click)="apply()">{{words['common']['apply'][currentLang.slug]}}</button>
            <button type="button" (click)="close()">{{words['common']['cancel'][currentLang.slug]}}</button>
        </div>
        <div class="pw-close" (click)="close()"><span></span></div>
    </div>
</div>