<div class="dash">
    <a class="dash-btn save" (click)="create()"><span>{{words['common']['save'][currentLang.slug]}}</span></a>    
    <a class="dash-btn back" [routerLink]="'/restaurants/'+type"><span>{{words['common']['back'][currentLang.slug]}}</span></a>    
</div>
<div class="data">
    <div class="dataedit">  
        <the-restaurant
            [x]="restaurant"
            [cl]="cl"
            [ll]="ll"
            [loading]="formLoading"
            [errorName]="formErrorName"
            [errorDomain]="formErrorDomain"
            [errorOwnerName]="formErrorOwnerName"
            [errorPhone]="formErrorPhone"
            [errorAddress]="formErrorAddress"
            [errorInn]="formErrorInn"
            [errorOgrn]="formErrorOgrn"            
            [errorEmail]="formErrorEmail"
            [errorPassword]="formErrorPassword"
            [errorDomainDuplication]="formErrorDomainDuplication"
            [errorEmailDuplication]="formErrorEmailDuplication"
            mode="create"
            (save)="create();"
        ></the-restaurant>
    </div>
</div>

