<div class="dash">
    <div class="create-btn">
        <a class="cb-btn"></a>
        <div class="cb-title">{{words['owner-restaurants']['create'][currentLang.slug]}}</div>
    </div>    
</div>
<div class="data">
    <!-- desktop -->
    <div class="datalist-desktop">
        <div class="datalist-overlay" [class.active]="rlLoading"></div>
        <table>
            <tr>
                <th class="align-left">{{words['owner-restaurants']['created-at'][currentLang.slug]}}</th>
                <th class="align-left">{{words['owner-restaurants']['name'][currentLang.slug]}}</th>
                <th class="align-left">{{words['owner-restaurants']['subscription'][currentLang.slug]}}</th>                        
                <th class="align-center">{{words['owner-restaurants']['actions'][currentLang.slug]}}</th>
            </tr>                                    
            <tr *ngFor="let r of rl">
                <td><span class="nowrap">{{r.formattedCreatedAt}}</span></td>
                <td [innerHTML]="r.name"></td>
                <td>
                    <div><strong class="nowrap">{{r.formattedActiveUntil}}</strong></div>
                    <div>27 {{words['owner-restaurants']['days-left'][currentLang.slug]}}</div>
                </td>
                <td class="align-center nowrap">
                    <a class="action-btn prolong" [title]="words['owner-restaurants']['prolong'][currentLang.slug]"><span></span></a>
                    <a class="action-btn history" [title]="words['owner-restaurants']['history'][currentLang.slug]"><span></span></a>
                    <a class="action-btn edit" [title]="words['owner-restaurants']['edit'][currentLang.slug]"><span></span></a>
                    <a class="action-btn delete" [title]="words['owner-restaurants']['delete'][currentLang.slug]"><span></span></a>
                </td>
            </tr>            
        </table>
    </div>
    <!-- mobile -->
    <div class="datalist-mobile">
        <div class="datalist-overlay" [class.active]="rlLoading"></div>
        <div class="dlm-item" *ngFor="let r of rl">            
            <div class="dlmi-param">
                <div class="dlmi-title">{{words['owner-restaurants']['created-at'][currentLang.slug]}}:</div>
                <div class="dlmi-value"><span class="nowrap">{{r.formattedCreatedAt}}</span></div>
            </div>
            <div class="dlmi-param">
                <div class="dlmi-title">{{words['owner-restaurants']['name'][currentLang.slug]}}:</div>
                <div class="dlmi-value" [innerHTML]="r.name"></div>
            </div>
            <div class="dlmi-param">
                <div class="dlmi-title">{{words['owner-restaurants']['subscription'][currentLang.slug]}}:</div>
                <div class="dlmi-value">
                    <div><strong class="nowrap">{{r.formattedActiveUntil}}</strong></div>
                    <div>27 {{words['owner-restaurants']['days-left'][currentLang.slug]}}</div>
                </div>
            </div>
            <div class="dlmi-actions">
                <a class="action-btn prolong" [title]="words['owner-restaurants']['prolong'][currentLang.slug]"><span></span></a>
                <a class="action-btn history" [title]="words['owner-restaurants']['history'][currentLang.slug]"><span></span></a>
                <a class="action-btn edit" [title]="words['owner-restaurants']['edit'][currentLang.slug]"><span></span></a>                    
                <a class="action-btn delete" [title]="words['owner-restaurants']['delete'][currentLang.slug]"><span></span></a>
            </div>            
        </div>               
    </div>
    <pagination [allLength]="rlAllLength" [length]="rlLength" [current]="rlCurrentPart" (currentChanged)="rlCurrentPart = $event; loadRestaurants();"></pagination>
</div>        
    