<div class="wrap" *ngIf="ready">
    <div class="win">        
        <div class="content">
            <aside *ngIf="showSidebar">
                <the-menu></the-menu>     
            </aside>
            <main [class.compact]="showSidebar">        
                <head-desktop [showLogoutBtn]="desktopHeadShowLogoutBtn" [showHomeBtn]="desktopHeadShowHomeBtn" [showTitle]="desktopHeadShowTitle"></head-desktop>
                <head-mobile [showMenuBtn]="mobileHeadShowMenuBtn"></head-mobile>
                <router-outlet></router-outlet>
            </main>
        </div>
    </div> 
    <error-notification></error-notification>   
</div>
