<form (submit)="onSave();">            
    <ng-container *ngIf="mode === 'create'">
        <div class="de-note">
            <div class="den-mark"><span></span></div>
            <div class="den-txt">{{words['restorator-employees']['note'][currentLang.slug]}}: <strong>{{price | number:'1.2-2'}} {{words['common']['currency-name'][currentLang.slug]}}</strong></div>
        </div>
    </ng-container>
    <ng-container *ngIf="mode === 'edit'">
        <div class="de-row">
            <div class="de-title">{{words['restorator-employees']['created-at'][currentLang.slug]}}:</div>
            <div class="de-value">
                <div class="de-inputwrap">{{x.formattedCreatedAt}}</div>
            </div>
        </div>        
    </ng-container>
    <div class="de-row">
        <div class="de-title">{{words['restorator-employees']['email'][currentLang.slug]}}: <span class="red">*</span></div>
        <div class="de-value">
            <div class="de-inputwrap"><input type="email" name="email" [(ngModel)]="x.email" [class.error]="errorEmail || errorEmailDuplication"></div>            
            <div class="de-error" *ngIf="errorEmailDuplication">{{words['restorator-employees']['error-email-duplication'][currentLang.slug]}}</div>
        </div>
    </div>
    <div class="de-row">
        <div class="de-title">{{words['restorator-employees']['password'][currentLang.slug]}}: <span class="red" *ngIf="mode === 'create'">*</span></div>
        <div class="de-value">
            <div class="de-inputwrap"><input type="password" name="password" [(ngModel)]="x.password" [class.error]="errorPassword" [placeholder]="mode === 'edit' ? words['common']['password-change'][currentLang.slug] : ''"></div>            
        </div>
    </div>
    <div class="de-row">
        <div class="de-title">{{words['restorator-employees']['name'][currentLang.slug]}}: <span class="red">*</span></div>
        <div class="de-value">
            <div class="de-inputwrap"><input type="text" name="name" [(ngModel)]="x.name" [class.error]="errorName"></div>
        </div>
    </div>    
    <div class="de-row">
        <div class="de-title">{{words['restorator-employees']['phone'][currentLang.slug]}}:</div>
        <div class="de-value">
            <div class="de-inputwrap"><input type="text" name="phone" [(ngModel)]="x.phone"></div>            
        </div>
    </div>
    <div class="de-row">
        <div class="de-title">{{words['restorator-employees']['admin'][currentLang.slug]}}:</div>
        <div class="de-value">
            <div class="de-inputwrap"><checkbox-slider [(value)]="x.is_admin"></checkbox-slider></div>            
        </div>
    </div>
    <div class="de-row">
        <div class="de-title"></div>
        <div class="de-value">
            <div class="de-btnwrap"><button type="submit" class="save" [disabled]="loading"><span>{{words['common']['save'][currentLang.slug]}}</span></button></div>
        </div>                
    </div>
</form> 
