<div class="dash">
    <a class="dash-btn save" (click)="update()"><span>{{words['common']['save'][currentLang.slug]}}</span></a>     
</div>
<div class="data">
    <div class="dataedit">        
        <form (submit)="update();">            
            <div class="de-row">
                <div class="de-title">{{words['restorator-password']['login'][currentLang.slug]}}:</div>
                <div class="de-value">
                    <div class="de-inputwrap"><input type="email" name="email" [value]="employee.email" disabled></div>
                </div>
            </div>
            <div class="de-row">
                <div class="de-title">{{words['restorator-password']['password1'][currentLang.slug]}}:</div>
                <div class="de-value">
                    <div class="de-inputwrap"><input type="password" name="password1" [(ngModel)]="password1" [class.error]="formErrorPassword1"></div>
                </div>
            </div>
            <div class="de-row">
                <div class="de-title">{{words['restorator-password']['password2'][currentLang.slug]}}:</div>
                <div class="de-value">
                    <div class="de-inputwrap"><input type="password" name="password2" [(ngModel)]="password2" [class.error]="formErrorPassword2 || formErrorMismatch"></div>
                    <div class="de-error" *ngIf="formErrorMismatch">{{words['restorator-password']['error-mismatch'][currentLang.slug]}}</div>
                </div>
            </div>
            <div class="de-row">
                <div class="de-title"></div>
                <div class="de-value">
                    <div class="de-btnwrap"><button type="submit" [disabled]="formLoading">{{words['common']['save'][currentLang.slug]}}</button></div>
                </div>                
            </div>
        </form>        
    </div>
</div>

<the-alert [(active)]="alertActive" [msg]="words['restorator-password']['saved'][currentLang.slug]"></the-alert>