.head-mobile {
    @media (min-width:0) {display: flex;}
    @media (min-width:1000px) {display: none;}
    justify-content: center; align-items: center; position: relative; height: 60px;
    .hm-title {width: calc(100% - 120px); text-align: center; font-size: 14px; font-weight: bold;}
    // menu
    .hm-menubtn {
        position: absolute; z-index: 3; right: 15px; top:50%; transform: translateY(-50%); width:30px; cursor: pointer; transition: 0.3s; 
        &.active {transform: translateY(-50%) rotate(90deg);}
        div {
            height: 4px; background-color: var(--color-bg-highlight); border: 1px var(--color-bg-highlight2) solid; margin-bottom: 9px; border-radius: 2px;
            &:last-child {margin-bottom: 0;}
        }
    }
    .hm-menupanel {
        position: absolute; z-index: 2; right: 0; top:0; width: 100%; background-color: var(--color-bg); box-shadow: var(--block-shadow); border:1px white solid; border-radius: 15px; top: -10000px; opacity: 0; transition: top 0s linear 0.3s, opacity 0.3s ease 0s; padding: 45px;
        &.active {top: 0; opacity: 1; transition: top 0s linear 0s, opacity 0.3s ease 0s;}
        ul {             
            list-style: none; margin: 0; padding: 0;
            li {
                margin-bottom: 15px; display: flex; justify-content: center;
                &:last-child {margin-bottom: 0;}
                a {
                    height: 40px; line-height: 40px; width: 180px; border-radius: 20px; border:3px var(--color-bg) solid; background-color: var(--color-bg); box-shadow: var(--block-shadow); text-decoration: none; display: flex; justify-content: center; align-items: center; font-weight: bold; white-space: nowrap; cursor: pointer; color: var(--color-txt);
                    &.active {box-shadow: var(--activebtn-shadow);}
                }
            }
        }            
    }
    // langs
    .hm-langbtn {
        position: absolute; z-index: 3; left: 15px; top: 50%; transform: translateY(-50%); height: 30px; width: 30px; line-height: 30px; text-align: center; border-radius: 15px; background: var(--color-bg); box-shadow: var(--block-shadow); cursor: pointer; display: inline-block;
        span::before {font-family: "fa-solid"; content:"\f57d"; font-size: 16px;}
    }   
    .hm-langpanel {
        position: absolute; z-index: 2; right: 0; top:0; width: 100%; background-color: var(--color-bg); box-shadow: var(--block-shadow); border:1px white solid; border-radius: 15px; top: -10000px; opacity: 0; transition: top 0s linear 0.3s, opacity 0.3s ease 0s; padding: 45px;
        &.active {top: 0; opacity: 1; transition: top 0s linear 0s, opacity 0.3s ease 0s;}
        ul {             
            list-style: none; margin: 0; padding: 0;
            li {
                margin-bottom: 15px; display: flex; justify-content: center;
                &:last-child {margin-bottom: 0;}
                a {
                    height: 40px; line-height: 40px; width: 180px; border-radius: 20px; border:3px var(--color-bg) solid; background-color: var(--color-bg); box-shadow: var(--block-shadow); text-decoration: none; display: flex; justify-content: center; align-items: center; font-weight: bold; white-space: nowrap; cursor: pointer; color: var(--color-txt);
                    &.active {box-shadow: var(--activebtn-shadow);}
                }
            }
        } 
    }    
}