.order-product {                    
    @media (min-width:0) {width:auto;}
    @media (min-width:500px) {width:400px;}
    display: flex; background-color: var(--color-bg); box-shadow: var(--block-shadow); border-radius: 15px; padding: 15px; margin-bottom: 15px; position: relative;   
    .op-left {
        width:20%; margin-right: 15px;
        .op-img {padding-bottom: 75%; border-radius: 5px; background-size: cover; background-position: center center;}
    }
    .op-right {
        flex:1; 
        .op-name {font-weight: bold; padding-right: 30px;}
        .op-code {margin-bottom: 5px;}
        .op-serving {            
            .ops-item {margin-bottom: 5px;}
        }
        .op-calc {display: flex; align-items: center;}
        .op-ingredients {
            margin-top: 5px; padding-top: 5px; border-top:1px var(--color-grey) dotted;
            .op-ingredient {
                display: flex; align-items: center; margin-bottom: 5px;
                &:last-child {margin-bottom: 0;}
                .opi-name {
                    font-size: 12px;
                    &.not-included {text-decoration: line-through;}
                }
            }
        }
        .op-completed {margin-top: 5px; padding-top: 5px; border-top:1px var(--color-grey) dotted; display: flex; align-items: center; justify-content: flex-end;}        
    }   
    .op-delete {
        position: absolute; right: 15px; top:15px; background-color: var(--color-bg); box-shadow: var(--block-shadow); cursor: pointer; width:30px; height: 30px; border-radius: 15px; text-align: center; line-height: 30px;
        span::before {font-family: "fa-solid"; content: "\f00d"; color: var(--color-red);}
    }                 
}