<div class="data-form">        
    <ng-container *ngIf="x.created_at">
        <div class="df-title">{{currentLang.phrases['workspace-restaurants-created-at']}}:</div>
        <div class="df-inputwrap">{{x.formattedCreatedAt}}</div>
    </ng-container>        
    
    <div class="df-title" [class.required]="isRequired('name')">{{currentLang.phrases['workspace-restaurants-name']}}:</div>
    <div class="df-inputwrap"><input type="text" [(ngModel)]="x.name"></div>    

    <div class="df-title" [class.required]="isRequired('ownername')">{{currentLang.phrases['workspace-restaurants-ownername']}}:</div>
    <div class="df-inputwrap"><input type="text" [(ngModel)]="x.ownername"></div>

    <div class="df-title" [class.required]="isRequired('phone')">{{currentLang.phrases['workspace-restaurants-phone']}}:</div>
    <div class="df-inputwrap"><input type="text" [(ngModel)]="x.phone"></div>

    <div class="df-title" [class.required]="isRequired('address')">{{currentLang.phrases['workspace-restaurants-address']}}:</div>
    <div class="df-inputwrap"><input type="text" [(ngModel)]="x.address"></div>

    <div class="df-title" [class.required]="isRequired('inn')">{{currentLang.phrases['workspace-restaurants-inn']}}:</div>
    <div class="df-inputwrap"><input type="text" [(ngModel)]="x.inn"></div>

    <div class="df-title" [class.required]="isRequired('ogrn')">{{currentLang.phrases['workspace-restaurants-ogrn']}}:</div>
    <div class="df-inputwrap"><input type="text" [(ngModel)]="x.ogrn"></div>

    <div class="df-title" [class.required]="isRequired('domain')">{{currentLang.phrases['workspace-restaurants-domain']}}:</div>
    <div class="df-inputwrap"><input type="text" [(ngModel)]="x.domain"></div>

    <div class="df-title" [class.required]="isRequired('comment')">{{currentLang.phrases['workspace-restaurants-comment']}}:</div>
    <div class="df-inputwrap"><textarea [(ngModel)]="x.comment"></textarea></div>

    <div class="df-title" [class.required]="isRequired('currency_id')">{{currentLang.phrases['workspace-restaurants-currency']}}:</div>
    <div class="df-inputwrap">
        <select [(ngModel)]="x.currency_id">
            <option *ngFor="let c of cl" [ngValue]="c.id">{{c.name}}</option>
        </select>
    </div> 
    
    <div class="df-title" [class.required]="isRequired('lang_id')">{{currentLang.phrases['workspace-restaurants-lang']}}:</div>
    <div class="df-inputwrap">
        <select [(ngModel)]="x.lang_id">
            <option *ngFor="let l of ll" [ngValue]="l.id">{{l.slug}}</option>
        </select>
    </div> 

    <div class="df-title" [class.required]="isRequired('money')">{{currentLang.phrases['workspace-restaurants-money']}}:</div>
    <div class="df-inputwrap"><input type="number" class="small" [(ngModel)]="x.money"></div>
            
    <div class="df-title"></div>
    <div class="df-inputwrap"><button type="submit">{{currentLang.phrases['workspace-save']}}</button></div>                    
</div>
