<form (submit)="onSave();">            
    <div class="de-row">
        <div class="de-title">{{words['restorator-cats']['name'][currentLang.slug]}}: <span class="red">*</span></div>
        <div class="de-value">
            <div class="de-inputwrap"><input type="text" name="name" [(ngModel)]="x.name" [class.error]="errorName"></div>
        </div>
    </div>
    <div class="de-row">
        <div class="de-title">{{words['restorator-cats']['icon'][currentLang.slug]}}:</div>
        <div class="de-value">
            <div class="de-iconwrap margined">
                <div class="de-icon" *ngIf="getIcon()">
                    <img src="/images/icons/{{getIcon()}}">
                    <div class="de-icon-delete" (click)="x.icon_id = null"><span></span></div>
                </div>
                <div *ngIf="!getIcon()">{{words['common']['not-set'][currentLang.slug]}}</div>
                <div><a [innerHTML]="ilActive ? words['common']['hide-list'][currentLang.slug] : words['common']['show-list'][currentLang.slug]" (click)="ilActive = !ilActive"></a></div>
            </div>
            <div class="de-icons" *ngIf="ilActive">                
                <div class="de-icons-search">
                    <input type="text" name="ilfilter" [(ngModel)]="ilFilter" (ngModelChange)="ilApplyFilter()" [placeholder]="words['restorator-cats']['icon-filter'][currentLang.slug]">
                    <div class="de-icons-reset" *ngIf="ilFilter" (click)="ilResetFilter()"><span></span></div>
                </div>
                <div class="de-icons-itemswrap">
                    <div class="de-icons-items">
                        <div class="de-icons-item" [class.active]="x.icon_id === i.id" *ngFor="let i of ilFiltered" (click)="x.icon_id = i.id"><img src="/images/icons/{{i.img}}" [title]="i.name[currentLang.slug]"></div>                                                                                                 
                    </div>                
                </div>                
            </div>
        </div>
    </div>
    <div class="de-row">
        <div class="de-title">{{words['restorator-cats']['active'][currentLang.slug]}}:</div>
        <div class="de-value">
            <div class="de-inputwrap"><checkbox-slider [(value)]="x.active"></checkbox-slider></div>
        </div>
    </div>  
    <div class="de-row">
        <div class="de-title">{{words['restorator-cats']['pos'][currentLang.slug]}}:</div>
        <div class="de-value">
            <div class="de-inputwrap"><input-number [(value)]="x.pos"></input-number></div>
        </div>
    </div>    
    <div class="de-row">
        <div class="de-title"></div>
        <div class="de-value">
            <div class="de-btnwrap"><button type="submit" [disabled]="loading" class="save"><span>{{words['common']['save'][currentLang.slug]}}</span></button></div>
        </div>                
    </div>
</form> 
