<div class="dash">
    <a class="dash-btn save" [class.disabled]="formLoading" (click)="update()"><span>{{words['common']['save'][currentLang.slug]}}</span></a>    
    <a class="dash-btn back" routerLink="/kitchen/cats"><span>{{words['common']['back'][currentLang.slug]}}</span></a>    
</div>
<div class="data">
    <div class="dataedit"> 
        <the-cat
            *ngIf="cat"
            [x]="cat"
            [il]="il"
            [loading]="formLoading"
            [errorName]="formErrorName"                        
            (save)="update();"
        ></the-cat>
    </div>
</div>
