<div class="popup" [class.active]="active">
    <div class="p-overlay" (click)="close()"></div>
    <form class="p-win" (submit)="confirm()">
        <div class="pw-content">
            <div class="pw-txt"><span>{{msg}}</span></div>            
            <div class="pw-form">
                <div class="pwf-param">
                    <div class="pwf-title">{{words['common']['your-password'][currentLang.slug]}}</div>
                    <div class="pwf-value"><input type="password" name="password" [(ngModel)]="password" [class.error]="formErrorPassword"></div>
                </div>    
                <div class="pwf-error" *ngIf="formError401">{{words['common']['error-401'][currentLang.slug]}}</div>            
            </div>
        </div>
        <div class="pw-buttons">
            <button type="submit" [disabled]="formLoading">{{words['common']['yes'][currentLang.slug]}}</button>
            <button type="button" (click)="close()">{{words['common']['no'][currentLang.slug]}}</button>
        </div>
        <div class="pw-close" (click)="close()"><span></span></div>
    </form>
</div>