<div class="dash">
    <a class="dash-btn create" [class.disabled]="tableNew" (click)="tableCreatePanelActive = true;"><span>{{words['common']['create'][currentLang.slug]}}</span></a>
</div>

<!-- tables -->
<div class="tables" *ngIf="currentHall" cdkDropListGroup>
    <div class="t-newplace" cdkDropList [cdkDropListEnterPredicate]="tableCantDrop">
        <the-table *ngIf="tableNew" [table]="tableNew" cdkDrag [cdkDragData]="tableNew.id" (delete)="tableNew = null"></the-table>        
    </div>    
    <div class="t-places beauty-scroll-h" [style.grid-template-columns]="'repeat('+currentHall.nx+', 125px)'">
        <ng-container *ngFor="let p of places">
            <div class="t-place" cdkDropList [cdkDropListEnterPredicate]="tableCanDrop(p)" (cdkDropListDropped)="tableOnDrop($event, p)">
                <the-table *ngIf="tableGet(p) as t" [table]="t" [canDelete]="t.id" cdkDrag [cdkDragData]="t.id" [cdkDragDisabled]="!t.id" (delete)="tableOnDelete(t)" (qr)="tableOnQr(t)" (history)="tableOnHistory(t)"></the-table>                
            </div>            
        </ng-container>        
    </div>
</div>
<!-- halls -->
<div class="halls">        
    <div class="h-title">{{words['restorator-tables']['halls'][currentLang.slug]}}:</div>    
    <div class="h-item" *ngFor="let h of hl" [innerHTML]="h.name" [class.active]="h.id === currentHall?.id" (click)="currentHallSet(h)"></div>                
</div>

<!-- helpers -->
<create-table [(active)]="tableCreatePanelActive" (create)="tableNew = $event"></create-table>
<the-confirm [(active)]="tableDeleteConfirmActive" [msg]="tableDeleteConfirmMsg" (confirmed)="tableDelete()"></the-confirm>
<qr-panel [(active)]="tableQrPanelActive" [table]="tableQr"></qr-panel>
