<div class="content">
    <div class="content-head">
        <h1>{{currentLang.phrases['workspace-mailtemplates-h1']}} ({{allLength}})</h1>
        <div class="content-dash">
            <div class="cd-btn create" [title]="currentLang.phrases['workspace-create']" [routerLink]="homeUrl + '/create'"><span></span></div>
            <div [class]="canDeleteBulk ? 'cd-btn delete' : 'cd-btn delete disabled'" [title]="currentLang.phrases['workspace-deleteselected']" (click)="deleteBulk();"><span></span></div>
        </div>
    </div>    
    <div class="data">
        <ng-container *ngIf="ready">            
            <div class="data-tablewrap">
                <table class="data-table">                    
                    <tr class="no-selection">
                        <th><input type="checkbox" [(ngModel)]="allSelected" (ngModelChange)="onSelectAll();"></th>                        
                        <th><label [class]="sortBy === 'name' ? (sortDir === 1 ? 'sorted-forward' : 'sorted-backward') : 'sortable'" (click)="changeSorting('name');">{{currentLang.phrases['workspace-mailtemplates-name']}}</label></th>                                                                                               
                        <th>{{currentLang.phrases['workspace-actions']}}</th>
                    </tr>   
                    <ng-container *ngIf="xl.length">
                        <tr *ngFor="let x of xl">
                            <td><input type="checkbox" *ngIf="!x.defended" [(ngModel)]="x.__selected" (ngModelChange)="onSelect();"></td>
                            <td><div class="dt-inputwrap"><input type="text" [(ngModel)]="x.name" (change)="updateParam (x.id, 'name', x.name);" [disabled]="x.defended"></div></td> 
                            <td>
                                <div class="dt-actions">
                                    <div class="dt-btn edit" [title]="currentLang.phrases['workspace-edit']" [routerLink]="homeUrl + '/edit/'+x.id"><span></span></div>
                                    <div class="dt-btn delete" [title]="currentLang.phrases['workspace-delete']" *ngIf="!x.defended" (click)="delete(x.id);"><span></span></div>
                                </div>
                            </td>
                        </tr>                            
                    </ng-container>
                    <ng-container *ngIf="!xl.length">
                        <tr><td>{{currentLang.phrases['workspace-empty']}}</td></tr>
                    </ng-container>                    
                </table>
            </div>            
            <pagination [allLength]="allLength" [length]="length" [current]="currentPart" (currentChanged)="currentPart = $event; rebuildList ();"></pagination>
        </ng-container>
        <ng-container  *ngIf="!ready">
            <loading-table [columns]="4"></loading-table>
        </ng-container>
        <ng-container *ngIf="reloading">
            <div class="reloading"><span></span></div>
        </ng-container>        
    </div>    
</div>
