.head-desktop {
    @media (min-width:0) {display: none;}
	@media (min-width:1000px) {display: flex;}
    height: 45px; justify-content: center; width:100%; position: relative; margin-bottom: 15px;
    .hd-left {position: absolute; left: 0; top: 0;}
    .hd-right {position: absolute; right: 0; top: 0; display: flex;}    
    .hd-title {font-weight: bold; height: 40px; display: flex; align-items: center; font-size: 16px;}
    .hd-money {
        position: relative; margin: 0 7px;
        .hdm-status {position: absolute; top: -20px; left: 50%; transform: translateX(-50%); font-size: 12px; white-space: nowrap;}
        .hdm-btn {
            height: 45px; display: flex; align-items: center; border-radius: 23px; padding: 0 30px; background-color: var(--color-bg); box-shadow: var(--block-shadow); text-decoration: none; font-weight: bold; white-space: nowrap; cursor: pointer; color: var(--color-txt);
            span {
                display: flex; align-items: center;
                &::before {font-family: "fa-solid"; margin-right: 10px; font-size: 18px; content: "\f53c";}
            }
        }
    }
    .hd-langs {
        position: relative; margin: 0 0 0 7px;
        .hdl-btn {
            height: 45px; width: 45px; line-height: 45px; text-align: center; border-radius: 23px; background: var(--color-bg); box-shadow: var(--block-shadow); cursor: pointer; display: inline-block;
            span::before {font-family: "fa-solid"; content:"\f57d"; font-size: 20px;}
        }        
        .hdl-panel {
            position: absolute; right: 0; top:0; width:60px; border: 1px white solid; border-radius: 15px; padding: 15px; z-index: 2; background-color: var(--color-bg); box-shadow: var(--block-shadow); top: -10000px; opacity: 0; transition: top 0s linear 0.3s, opacity 0.3s ease 0s;
            &.active {top: 0; opacity: 1; transition: top 0s linear 0s, opacity 0.3s ease 0s;}
            ul {
                list-style: none; margin: 0; padding: 0;
                li {
                    cursor: pointer; text-align: center;
                    &.active {font-weight: bold;}
                    &:hover {text-decoration: underline;}                    
                }                
            }
        }
    }
    .hd-logout {
        height: 45px; width: 45px; display: flex; justify-content: center; align-items: center; border-radius: 23px; background-color: var(--color-bg); box-shadow: var(--block-shadow); text-decoration: none; cursor: pointer; color: var(--color-txt); margin: 0 7px;
        span::before {font-family: "fa-solid"; font-size: 20px; content: "\f2f5";}
    }    
}