.data {    
    .datalist-desktop {
        @media (min-width:0) {display: none;}
        @media (min-width:1280px) {display: block;}
        border-radius: 45px; background: var(--color-bg-datalist); border: 10px var(--color-bg) solid; box-shadow: var(--block-shadow); padding: 15px; overflow: auto;
        table {
            width: 100%; 
            th {padding: 10px 5px;}
            td {padding: 10px 5px;}
        }
    }
}
