@import "./common.styles/var.scss";

html {
    body {        
        margin: 0; padding: 0; background-image: url("/assets/images/bg2.jpg"); background-attachment: fixed; background-size: cover; color: $color-main; font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 14px;        
        // common
        * {box-sizing: border-box; outline: none;}        
        .error {color: #f00;}
        .warning {color: #ff0;}
        .done {color: #0f0;}
        .hidden {display: none;}
        a, a:visited {color: #fff;}
        input[type="text"], input[type="number"], input[type="email"], input[type="tel"], input[type="password"] {
            background: none; border:1px $color-transparent-dark solid; height: 30px; color: $color-transparent; padding: 0 5px; transition: border-color 0.3s ease 0s;
            &:focus {border-color:#fff;}
            &:disabled {border-color:rgba(255,255,255,0.1);}
            &.error {border: 1px #f00 solid;}
        }        
        select {
            background: none; border:1px $color-transparent-dark solid; height: 30px; color: $color-transparent; padding: 0 5px; transition: border-color 0.3s ease 0s;
            &:focus {border-color:#fff;}
            &:disabled {border-color:rgba(255,255,255,0.1);}
            option {color: #000;}
            &[multiple] {height: 200px; background: #fff; min-width: 150px;}
        }
        textarea {
            background: none; border:1px $color-transparent-dark solid; height: 100px; color: $color-transparent; padding: 5px; transition: border-color 0.3s ease 0s;
            &:focus {border-color:#fff;}
        }
        button {
            border:none; background-color: $color-transparent; padding: 0 30px; height: 30px; cursor: pointer; transition: all 0.3s ease 0s;
            &:hover {background-color: $color-transparent-dark; color: #fff;}
            &:disabled {cursor: inherit; opacity: 0.3;}
        }
        ::placeholder {color: $color-grey-light;}
        hr {margin: 10px 0; height: 1px; border: none; background-color: $color-transparent-dark;}
        // main layout
        main {
            @media (min-width:0) {padding: 112px 15px 15px 15px;}
            @media (min-width:1000px) {padding: 112px 30px 30px 280px;}            
            .content {
                max-width: 1300px; margin: 0 auto;
                .content-head {
                    margin-bottom: 10px; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;
                    h1 {
                        @media (min-width:0) {padding: 0; font-size: 14px;}
                        @media (min-width:1000px) {padding: 0 0 0 30px; font-size: 16px;}  
                        margin: 0 0 10px 0; text-transform: uppercase; font-weight: normal;
                    }     
                    .content-dash {
                        @media (min-width:0) {padding: 0;}
                        @media (min-width:1000px) {padding: 0 30px 0 0;}  
                        display: flex; justify-content: flex-end; margin: 0 0 10px 0; 
                        .cd-btn {
                            @media (min-width:0) {height: 30px; width:30px; line-height: 30px; }
                            @media (min-width:1000px) {height: 40px; width:40px; line-height: 40px; } 
                            margin-left: 5px; cursor: pointer; transition: all 0.3s ease 0s; text-align: center; 
                            &:hover {background-color: $color-bg-light;}
                            &.disabled {
                                cursor: inherit; color: $color-transparent-disabled; pointer-events: none;
                                &:hover {background-color: inherit;}                                
                            }
                            span {
                                @media (min-width:0) {font-size: 20px;}
                                @media (min-width:1000px) {font-size: 24px;}
                                &::before {font-family: "awesome-solid";}                                
                            }
                            &.create {span::before {content: "\f067";}}
                            &.delete {span::before {content: "\f05e";}}
                            &.save {span::before {content: "\f7c2";}}
                            &.back {span::before {content: "\f060";}}
                            &.exectarget {span::before {content: "\f05b";}}
                        }
                    }
                }
                .data {
                    @media (min-width:0) {padding: 15px;}
                    @media (min-width:1000px) {padding: 30px;}  
                    background-color: $color-bg-dark; font-size: 13px; overflow: auto; position: relative;
                    // langs
                    .data-langs {
                        margin: 0 0 15px 0; display: flex; flex-wrap: wrap;
                        &.padded {padding-top: 30px;}
                        .data-langs-title {margin: 0 10px 5px 0;}
                        .data-langs-btns {
                            label {margin-right: 10px;}
                        }                            
                    }
                    // sites
                    .data-sites {
                        margin: 0 0 15px 0; display: flex; flex-wrap: wrap;
                        &.padded {padding-top: 30px;}
                        .data-sites-title {margin: 0 10px 5px 0;}
                        .data-sites-btns {
                            label {margin-right: 10px;}
                        }                            
                    }
                    // table blocks
                    .data-tablewrap {
                        min-height: 600px; margin: 0 0 40px 0;
                        &.compact {min-height: auto;}
                        &.padded {padding-top: 30px;}
                        // subheads
                        .data-head {
                            @media (min-width:0) {justify-content: flex-start;}
                            @media (min-width:1000px) {justify-content: flex-end;}
                            margin-bottom: 10px; display: flex; align-items: center; width:100%;                                                    
                            .datahead-dash {
                                display: flex; justify-content: flex-end;
                                .dhd-btn {
                                    @media (min-width:0) {height: 30px; width:30px; line-height: 30px; }
                                    @media (min-width:1000px) {height: 40px; width:40px; line-height: 40px; } 
                                    margin-left: 5px; cursor: pointer; transition: all 0.3s ease 0s; text-align: center; 
                                    &:hover {background-color: $color-bg-light;}
                                    &.disabled {
                                        cursor: inherit; color: $color-transparent-disabled; pointer-events: none;
                                        &:hover {background-color: inherit;}                                
                                    }
                                    span {
                                        @media (min-width:0) {font-size: 20px;}
                                        @media (min-width:1000px) {font-size: 24px;}
                                        &::before {font-family: "awesome-solid";}                                
                                    }
                                    &.create {span::before {content: "\f067";}}
                                    &.delete {span::before {content: "\f05e";}}
                                    &.save {span::before {content: "\f7c2";}}
                                    &.back {span::before {content: "\f060";}}                                    
                                }
                            }
                        }                                 
                        // tables               
                        table.data-table {
                            width:100%; color: $color-transparent; border-collapse: collapse; 
                            tr {
                                border-bottom: 1px $color-grey solid;   
                                &.no-border {border-bottom: none;}
                                &:last-child {border-bottom: none;}
                                &:hover {
                                    background-color: $color-bg-light;
                                    &.no-selection {background-color: inherit;}
                                }
                                th {
                                    padding: 5px 10px; text-align: left; white-space: nowrap;
                                    &:not(:first-child) {min-width: 100px;}
                                    &.wide {min-width:300px;}
                                    label {
                                        white-space: nowrap; cursor: pointer; transition: color 0.3s ease 0s; display: block;
                                        &:hover {color: #fff;}
                                        &::after {font-family: "awesome-solid"; display: inline-block; margin-left: 5px;}
                                        &.sortable::after {content: "\f0dc";}
                                        &.sorted-forward::after {content: "\f0dd";}
                                        &.sorted-backward::after {content: "\f0de";}
                                    }                                    
                                }
                                td {
                                    padding: 5px 10px; white-space: nowrap;
                                    .dt-inputwrap {
                                        &.flex {display: flex;}
                                        input[type="text"], input[type="number"], input[type="email"], input[type="tel"], input[type="password"], select {                                            
                                            width: 100%;
                                            &.small {width: 60px;}
                                            &.auto {width: auto;}
                                        }                                         
                                    }   
                                    .dt-imgwrap {
                                        img {width: 100px; border:1px $color-transparent-dark solid; vertical-align: top;}
                                    }
                                    .dt-actions {
                                        display: flex; 
                                        .dt-btn {
                                            height: 40px; width:40px; margin-right: 5px; cursor: pointer; transition: all 0.3s ease 0s; text-align: center; line-height: 40px;
                                            &:hover {background-color: $color-bg-light;}
                                            &.disabled {
                                                cursor: inherit; color: $color-transparent-disabled;
                                                &:hover {background-color: inherit;}                                
                                            }
                                            span {
                                                font-size: 20px;  
                                                &::before {font-family: "awesome-solid";}                                
                                            }
                                            &.edit {span::before {content: "\f303";}}
                                            &.delete {span::before {content: "\f05e";}}
                                            &.magnify {span::before {content: "\f06e";}}
                                        }
                                    }                             
                                }
                            }
                        }
                    }                    
                    // forms
                    .data-form {
                        @media (min-width:0) {display: block;}
                        @media (min-width:1000px) {display: grid;}  
                        grid-template-columns: min-content auto; color: $color-transparent;
                        &.padded {padding-top: 30px;}
                        &.subform {
                            max-height: 0; overflow: hidden; transition: max-height 0.3s ease 0s; margin-bottom: 20px;
                            &.active {max-height: 1000px;}
                        }
                        .df-title {
                            white-space: nowrap; display: flex; align-items: center; padding-right: 30px;
                            &.required::after {display: inline-block; margin-left: 5px; color: #f00; content: "*";}
                        }
                        .df-modes {
                            display: flex;
                            label {white-space: nowrap;}
                        }
                        .df-inputwrap {
                            margin: 5px 0;
                            &.flex {display: flex;}
                            input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="number"] {
                                @media (min-width:0) {width: 100%;}
                                @media (min-width:1000px) {width:400px;}                                  
                                &.small {width:60px;}
                            }                       
                            textarea {
                                @media (min-width:0) {width: 100%;}
                                @media (min-width:1000px) {width:400px;}
                            }  
                            .df-imgwrap {
                                display: flex;
                                .df-imgwrap2 {
                                    margin-right: 5px;
                                    img, video {
                                        @media (min-width:0) {max-width:150px;}
                                        @media (min-width:1000px) {max-width:200px;}
                                        min-height: 100px; min-width: 100px; border:1px $color-transparent-dark solid;
                                    }
                                }                                
                                .df-imgbtns {
                                    .df-magnify, .df-deletefile {
                                        width: 40px; height: 40px; line-height: 40px; text-align: center; cursor: pointer; transition: background-color 0.3s ease 0s; margin-bottom: 5px;
                                        &:hover {background-color: $color-bg-light;}
                                        span {
                                            font-size: 20px;  
                                            &::before {font-family: "awesome-solid";}  
                                        }
                                    }
                                    .df-magnify {span::before {content: "\f06e";}}
                                    .df-deletefile {span::before {content: "\f05e";}}
                                }                                
                            }   
                        }
                    }
                    // images
                    .data-images {
                        display: flex; flex-wrap: wrap;
                        .di-item {
                            width: 244px; height: 200px; margin-right: 20px; margin-bottom: 20px; display: flex;
                            .dii-imgwrap {
                                border:1px $color-transparent-dark solid; width:200px; height: 100%; display: flex; justify-content: center; align-items: center; position: relative;
                                img {max-width: 100%; max-height: 100%; vertical-align: top;}
                                .dii-inputwrap {
                                    position: absolute; left: 10px; top: 10px;
                                    input {width:60px;}
                                }
                            }
                            .dii-btns {
                                width: 44px; display: flex; flex-direction: column; align-items: center;
                                .dii-btn {
                                    width: 40px; height: 40px; line-height: 40px; text-align: center; cursor: pointer; transition: background-color 0.3s ease 0s; margin-bottom: 2px;
                                    &:hover {background-color: $color-bg-light;}
                                    span {
                                        font-size: 20px;  
                                        &::before {font-family: "awesome-solid";}  
                                    }
                                    &.magnify {span::before {content: "\f06e";}}
                                    &.delete {span::before {content: "\f05e";}}
                                }
                            }
                        }
                    }
                    // reloading overlay 
                    .reloading {
                        position: absolute; left: 0; top: 0; background-color: $color-bg-dark; width:100%; height: 100%; z-index: 2; display: flex; align-items: center; justify-content: center;
                        span {
                            display: inline-block; animation: reloadingspinner 1s infinite;
                            &::before {font-family: "awesome-solid"; font-size: 40px; color: $color-transparent; content: "\f2f1";}                            
                        }
                        @keyframes reloadingspinner {
                            0% {transform: rotate(0deg);}
                            100% {transform: rotate(180deg);}                            
                        }                        
                    }                    
                    // tabs
                    .data-tabs {
                        @media (min-width:0) {left: 15px;}
                        @media (min-width:1000px) {left: 30px;}
                        position: absolute; top: 0; display: flex;
                        .data-tab {
                            background-color: $color-bg-dark; cursor: pointer; margin-right: 3px; padding: 5px 10px; font-size: 14px; text-transform: uppercase; color: $color-transparent; transition: all 0.3s ease 0s; white-space: nowrap;
                            &.active, &:hover {background-color: $color-bg-light; color: #fff; padding: 6px 10px 4px 10px; }
                        }
                    }
                    // console like
                    .data-console {
                        &.padded {padding-top: 30px;}                        
                    }
                    // input helpers buttons
                    .data-inputoptions {
                        display: flex; align-items: center;
                        .dio-btn {
                            cursor: pointer; margin: 0 5px;
                            &.dio-editor {                                            
                                span::before {font-family: "awesome-solid"; content: "\f2d0";}
                            }
                        }                                        
                    }
                }
            }
        }
        .ck-wrap {
            color: black;
            .ck-editor__editable_inline {min-height: 300px; max-height: 300px;}
            a {color: blue;}
        }
    }
}
