<form (submit)="onSave();">            
    <ng-container *ngIf="mode === 'edit'">
        <div class="de-row">
            <div class="de-title">{{words['owner-restaurants']['created-at'][currentLang.slug]}}:</div>
            <div class="de-value">
                <div class="de-inputwrap">{{x.formattedCreatedAt}}</div>
            </div>
        </div>

        <div class="de-row">
            <div class="de-title">{{words['owner-restaurants']['active-until'][currentLang.slug]}}:</div>
            <div class="de-value">
                <div class="de-inputwrap">{{x.formattedActiveUntil || words['common']['not-set'][currentLang.slug]}}</div>
            </div>
        </div>

        <div class="de-row">
            <div class="de-title">{{words['owner-restaurants']['prolonged-at'][currentLang.slug]}}:</div>
            <div class="de-value">
                <div class="de-inputwrap">{{x.formattedProlongedAt || words['common']['not-set'][currentLang.slug]}}</div>
            </div>
        </div>
    </ng-container>

    <div class="de-row">
        <div class="de-title">{{words['owner-restaurants']['name'][currentLang.slug]}}: <span class="red">*</span></div>
        <div class="de-value">
            <div class="de-inputwrap"><input type="text" name="name" [(ngModel)]="x.name" [class.error]="errorName"></div>
        </div>
    </div>
    <div class="de-row">
        <div class="de-title">{{words['owner-restaurants']['domain'][currentLang.slug]}}: <span class="red">*</span></div>
        <div class="de-value">
            <div class="de-inputwrap"><input type="text" name="domain" [disabled]="mode !== 'create'" [(ngModel)]="x.domain" [class.error]="errorDomain || errorDomainDuplication"></div>
            <div class="de-error" *ngIf="errorDomainDuplication">{{words['owner-restaurants']['error-domain-duplication'][currentLang.slug]}}</div>
        </div>
    </div>
    <div class="de-row">
        <div class="de-title">{{words['owner-restaurants']['ownername'][currentLang.slug]}}: <span class="red">*</span></div>
        <div class="de-value">
            <div class="de-inputwrap"><input type="text" name="ownername" [(ngModel)]="x.ownername" [class.error]="errorOwnerName"></div>            
        </div>
    </div>
    <div class="de-row">
        <div class="de-title">{{words['owner-restaurants']['phone'][currentLang.slug]}}: <span class="red">*</span></div>
        <div class="de-value">
            <div class="de-inputwrap"><input type="text" name="phone" [(ngModel)]="x.phone" [class.error]="errorPhone"></div>            
        </div>
    </div>
    <div class="de-row">
        <div class="de-title">{{words['owner-restaurants']['address'][currentLang.slug]}}: <span class="red">*</span></div>
        <div class="de-value">
            <div class="de-inputwrap"><input type="text" name="address" [(ngModel)]="x.address" [class.error]="errorAddress"></div>            
        </div>
    </div>
    <div class="de-row">
        <div class="de-title">{{words['owner-restaurants']['inn'][currentLang.slug]}}: <span class="red">*</span></div>
        <div class="de-value">
            <div class="de-inputwrap"><input type="text" name="inn" [(ngModel)]="x.inn" [class.error]="errorInn"></div>            
        </div>
    </div>
    <div class="de-row">
        <div class="de-title">{{words['owner-restaurants']['ogrn'][currentLang.slug]}}: <span class="red">*</span></div>
        <div class="de-value">
            <div class="de-inputwrap"><input type="text" name="ogrn" [(ngModel)]="x.ogrn" [class.error]="errorOgrn"></div>            
        </div>
    </div>
    <div class="de-row">
        <div class="de-title">{{words['owner-restaurants']['currency'][currentLang.slug]}}:</div>
        <div class="de-value">
            <div class="de-selectwrap">
                <select [(ngModel)]="x.currency_id" name="currency">
                    <option *ngFor="let c of cl" [ngValue]="c.id">{{c.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="de-row">
        <div class="de-title">{{words['owner-restaurants']['lang'][currentLang.slug]}}:</div>
        <div class="de-value">
            <div class="de-selectwrap">
                <select [(ngModel)]="x.lang_id" name="lang">
                    <option *ngFor="let l of ll" [ngValue]="l.id">{{l.title}}</option>
                </select>
            </div>     
        </div>
    </div>
    <div class="de-row">
        <div class="de-title">{{words['owner-restaurants']['comment'][currentLang.slug]}}:</div>
        <div class="de-value">
            <div class="de-inputwrap"><textarea name="comment" [(ngModel)]="x.comment"></textarea></div>            
        </div>
    </div>

    <ng-container *ngIf="mode === 'create'">
        <div class="de-row">
            <div class="de-title"></div>
            <div class="de-value">
                <div class="de-divider"></div>
            </div>
        </div>        
        <div class="de-row">
            <div class="de-title">{{words['owner-restaurants']['admin-email'][currentLang.slug]}}: <span class="red">*</span></div>
            <div class="de-value">
                <div class="de-inputwrap"><input type="email" name="adminemail" [(ngModel)]="x.employees[0].email" [class.error]="errorEmail || errorEmailDuplication"></div>            
                <div class="de-error" *ngIf="errorEmailDuplication">{{words['owner-restaurants']['error-email-duplication'][currentLang.slug]}}</div>
            </div>
        </div>
        <div class="de-row">
            <div class="de-title">{{words['owner-restaurants']['admin-password'][currentLang.slug]}}: <span class="red">*</span></div>
            <div class="de-value">
                <div class="de-inputwrap"><input type="password" name="adminpassword" [(ngModel)]="x.employees[0].password" [class.error]="errorPassword"></div>            
            </div>
        </div>
    </ng-container>    

    <div class="de-row">
        <div class="de-title"></div>
        <div class="de-value">
            <div class="de-btnwrap"><button type="submit" [disabled]="loading">{{words['common']['save'][currentLang.slug]}}</button></div>
        </div>                
    </div>
</form> 
