.cats {
    padding: 0 15px;
    a {
        display: flex; justify-content: space-between; align-items: center; height: 45px; background-color: var(--color-bg); box-shadow: var(--block-shadow); margin-bottom: 15px; border-radius: 23px; padding: 0 15px; text-decoration: none;
        img {height: 25px;}
    }
}